## PROBLEM 2 ##

In [82]:
import pandas as pd

In [84]:
cars = pd.read_csv('cars.csv')

In [86]:
oddcars = cars.iloc[[1,3,5,7,9]]
oddcars

,Model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4

In [88]:
cars.loc[[0]]

       Model   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

In [90]:
cars.loc[[23], ['cyl']]

    cyl
23    8

In [92]:
cars.loc[[1,18,28],['cyl','gear']]

    cyl  gear
1     6     4
18    4     4
28    8     5